openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/mashery2openapi
  description: Test our API services using I/O Docs.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Rotten Tomatoes Detailed Info DVD Lists API
  version: '1.0'
  x-mashery-id: '1217'
  x-jentic-source-url: https://raw.githubusercontent.com/Mermade/openapi_specifications/master/mashery/api.rottentomatoes.com/Rotten-Tomatoes/1.0/swagger.json
servers:
- url: http://api.rottentomatoes.com/api/public/v1.0
security:
- key: []
tags:
- name: DVD Lists
paths:
  /lists/dvds/current_releases.json:
    get:
      parameters:
      - description: The amount of new release dvds to show per page
        in: query
        name: page_limit
        required: false
        schema:
          default: '16'
          type: string
      - description: The selected page of current DVD releases
        in: query
        name: page
        required: false
        schema:
          default: '1'
          type: string
      - description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        schema:
          default: us
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      tags:
      - DVD Lists
      operationId: CurrentReleaseDVDsDVDLists
      summary: ''
  /lists/dvds/new_releases.json:
    get:
      parameters:
      - description: The amount of new release dvds to show per page
        in: query
        name: page_limit
        required: false
        schema:
          default: '16'
          type: string
      - description: The selected page of new release DVDs
        in: query
        name: page
        required: false
        schema:
          default: '1'
          type: string
      - description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        schema:
          default: us
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      tags:
      - DVD Lists
      operationId: NewReleaseDVDsDVDLists
      summary: ''
  /lists/dvds/top_rentals.json:
    get:
      parameters:
      - description: Limits the number of top rentals returned
        in: query
        name: limit
        required: false
        schema:
          default: '10'
          type: string
      - description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        schema:
          default: us
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      tags:
      - DVD Lists
      operationId: TopRentalsDVDLists
      summary: ''
  /lists/dvds/upcoming.json:
    get:
      parameters:
      - description: The amount of upcoming dvds to show per page
        in: query
        name: page_limit
        required: false
        schema:
          default: '16'
          type: string
      - description: The selected page of upcoming DVDs
        in: query
        name: page
        required: false
        schema:
          default: '1'
          type: string
      - description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        schema:
          default: us
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      tags:
      - DVD Lists
      operationId: UpcomingDVDsDVDLists
      summary: ''
components:
  securitySchemes:
    key:
      in: query
      name: apikey
      type: apiKey
externalDocs:
  description: You can also view our written documentation.
  url: http://developer.rottentomatoes.com/io-docs/docs
