openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/mashery2openapi
  description: Test our API services using I/O Docs.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Rotten Tomatoes Detailed Info Search API
  version: '1.0'
  x-mashery-id: '1217'
  x-jentic-source-url: https://raw.githubusercontent.com/Mermade/openapi_specifications/master/mashery/api.rottentomatoes.com/Rotten-Tomatoes/1.0/swagger.json
servers:
- url: http://api.rottentomatoes.com/api/public/v1.0
security:
- key: []
tags:
- name: Search
paths:
  /movies.json:
    get:
      parameters:
      - description: The plain text search query to search for a movie. Remember to URI encode this!
        in: query
        name: q
        required: false
        schema:
          type: string
      - description: The amount of movie search results to show per page
        in: query
        name: page_limit
        required: false
        schema:
          default: '10'
          type: string
      - description: The selected page of movie search results
        in: query
        name: page
        required: false
        schema:
          default: '1'
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      tags:
      - Search
      operationId: MoviesSearchSearch
      summary: ''
components:
  securitySchemes:
    key:
      in: query
      name: apikey
      type: apiKey
externalDocs:
  description: You can also view our written documentation.
  url: http://developer.rottentomatoes.com/io-docs/docs
